
.list {
    background: white;
    position: relative;
    max-width: 475px;
    min-width: 475px;
    bottom: 285px;
    min-height: 500px;
    height: auto;
    left: 420px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
