.users {
    background: white;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    max-height: 300px;
}

.list {
    background: white;
    position: relative;
    max-width: 475px;
    min-width: 475px;
    bottom: 180px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
}

.postarea {
    display: flex;
    justify-content: space-between;
}

.ava {
    max-width: 50px;
}