.dialogs {
display: flex;
    justify-content: space-between;
}

.list {
    list-style-type: none;

}

.messages {
    display: flex;
    background: white;
    height: 100%;
    width: 50%;
    justify-content: center;
}

.inputs {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

